<!DOCTYPE html>
<HTML>
	<HEAD>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="main.css">
		<script src="bower_components/angular/angular.js"></script>
		<script src="bower_components/angular-route/angular-route.js"></script>
		<script src="js/app.js"></script>
		<script src="js/main.controller.js"></script>
		<script src="js/order.controller.js"></script>
		<script src="js/order.service.js"></script>
		<title>一品肉粽</title>
	</HEAD>
	<BODY ng-app="yipingApp" >
		<div id="bigWrapper" ng-controller="MainController as main">
			<header id="mainHeader">
				一品肉粽
			</header>
			<nav id="mainMenu">
				<div class="menuMenuButton" ng-click="main.orderSystemClick()">訂單管理</div>
				<div class="menuMenuButton" ng-click="main.productSystemClick()">商品管理</div>
				<div class="menuMenuButton" ng-click="main.stockSystemClick()">庫存管理</div>
			</nav>
			<section id="mainContent" ng-view></section>
			<footer id="mainFooter">
				Copyright &copy Troy2016
			</footer>
		</div>
	<BODY>
</HTML>
<!--template.html-->