*{
	font-family: tohamas;
	margin:0px;
}

#bigWrapper{
	border:2px solid #0553a0;
	border-radius:5px;
	margin:40px 40px;
	text-align:left;
}

#mainHeader{
	/*border:1px solid black; */
	height:30px;
	padding:15px;
	border-bottom:2px solid #0553a0;
	background:#5eadee;
	font-size:28px;
	color:white;
}
#mainMenu{
	border-right:2px solid #0553a0; 
	width:15%;
	height:500px;
	float:left;
}
.menuMenuButton{
	border:1px dotted #0553a0;
	border-radius:3px;
	margin:20px;
	padding-top:8px;
	padding-bottom:0px;
	height:25px;
	text-align:center;
	background:#5eadee;
	color:white;
	font-size:18px;
}

@-webkit-keyframes mainMenuButton{
	from{
		background-color:#5eadee;
	}
	to{
		background-color:#0553a0;
		-webkit-transform:translate(0px,-3px);
	}
}

.menuMenuButton:hover{
	/* background:#0553a0; */
	-webkit-animation-name:mainMenuButton;
	-webkit-animation-duration:1s;
	background-color:#0553a0;
	-webkit-transform:translate(0px,-3px);
}

.subMenu{
/* 	border:1px solid black; */
	height:5%;
	margin: 3px;
}

.subMenuButton{
	border:1px dotted #0553a0;
	border-radius:3px;
	margin:3px 20px;
	height:20px;
	width: 120px;
	text-align:center;
	background:#10c045;
	color:white;
	font-size:16px;
	float: left;
}

@-webkit-keyframes subMenuButton{
	from{
		background-color:#10c045;
	}
	to{
		background-color:#0b802e;
	}
}

.subMenuButton:hover{
	/* background:#0553a0; */
	-webkit-animation-name:subMenuButton;
	-webkit-animation-duration:1s;
	background-color:#0b802e;
	-webkit-transform:translate(0px,-1px);
}

.subSetion{
/* 	border:1px solid black; */
	margin:3px;
	height: 90%;
	overflow: scroll;
}

#mainContent{
	/*border:1px solid black;*/
	width:84.6%;
	height:500px;
	float:right;
	
}

#mainFooter{
	border-top:2px solid #0553a0;
	background:#5eadee;
	color:white;
	text-align:center;
	margin:0px;
	clear:both;
}

.searchDiv{
/* 	border:1px solid black; */
	margin: 1px auto;
	background:#d2d2d2;
}


.searchBox{
	/*border:1px solid black;*/
	color:#4f4f4f;
	padding:2px;
	margin: 3px 6px;
	text-align:center;
	float: left;
}

.listTable{
	/*border:1px solid black;*/
	margin: 5px 20px;
}

.listTable th{
	width: 130px;
	background:#d2d2d2;
	text-align:center;
}

.listTable td{
	/*border:1px solid red;*/
	width: 130px;
	text-align:center;
	/*background:#d2d2d2;*/
}

.clearDiv{
	clear:both;
}