<!DOCTYPE html>
<HTML>
	<HEAD>
		<meta charset="UTF-8">

		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
		<link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css"/>
		<link rel="stylesheet" href="bower_components/angular-material-data-table/dist/md-data-table.min.css"/>
		<link rel="stylesheet" href="bower_components/ng-material-floating-button/mfb/dist/mfb.min.css"/>
		
				

		
		<title>YiPingWeb</title>
	</HEAD>
	<BODY layout="column" ng-app="app" ng-controller="MainController as vm">
		<!-- <div id="bigWrapper" ng-controller="MainController as main">
			<header id="mainHeader">
				一品肉粽
			</header>
			<nav id="mainMenu">
				<div class="menuMenuButton" ng-click="main.orderSystemClick()">訂單管理</div>
				<div class="menuMenuButton" ng-click="main.productSystemClick()">商品管理</div>
				<div class="menuMenuButton" ng-click="main.stockSystemClick()">庫存管理</div>
			</nav>
			<section id="mainContent" ng-view></section>
			<footer id="mainFooter">
				Copyright &copy Troy2016
			</footer>
		</div> -->
		    
	<md-content>  
		<md-toolbar layout="row"  class="md-primary">
	      <div class="md-toolbar-tools">
	        <md-button  aria-label="Menu" ng-click="vm.openLeftNav()">
	          <i class="material-icons">menu</i>
	        </md-button>
            <span>YiPingWeb</span>
      		<!-- fill up the space between left and right area -->
	        <span flex></span>
	        <md-button>
	          Logout
	        </md-button>
    	  </div>
	     </md-toolbar>
	</md-content>
	<md-sidenav class="md-sidenav-left" md-component-id="left">
		<md-toolbar layout="row" class="md-primary md-hue-2">
	      <div class="md-toolbar-tools">
	        <span>功能選單</span>
      		<!-- fill up the space between left and right area -->
	        <span flex></span>
	        <md-button aria-label="close nav" ng-click="vm.closeLeftNav()">
	          <i class="material-icons" ng-style="{'font-size': '36px'}">navigate_before</i>
	        </md-button>
    	  </div>
	     </md-toolbar>
	      <md-content layout="column" layout-align="space-around stretch">
	        <md-button class="md-primary">訂單管理</md-button>
	        <md-button class="md-primary">商品管理</md-button>
	        <md-button class="md-primary">庫存管理</md-button>
	      </md-content>
	</md-sidenav>

	<md-content  ng-view flex>
	</md-content>
	<!-- <footer class="md-primary">
        <div layout="row" layout-align="center center">
            Footer
        </div>
    </footer> -->

	
	<BODY>

	<script src="/bower_components/angular/angular.js"></script>
	<script src="/bower_components/angular-aria/angular-aria.min.js"></script>
	<script src="/bower_components/angular-material-data-table/dist/md-data-table.min.js"></script>
	<script src="/bower_components/angular-animate/angular-animate.min.js"></script>
	<script src="/bower_components/angular-material/angular-material.min.js"></script>
	<script src="/bower_components/angular-route/angular-route.js"></script>
	<script src="/bower_components/ng-material-floating-button/src/mfb-directive.js"></script>



	<script src="/app.module.js"></script>
	<script src="/app.controller.js"></script>

	<!-- product -->
	<script src="/product/product.module.js"></script>
	<script src="/product/product.service.js"></script>
	<script src="/product/productsController.controller.js"></script>
	<script src="/product/productDetailController.controller.js"></script>

</HTML>
<!--template.html-->