<!DOCTYPE html>
<HTML>
	<HEAD>
		<meta charset="UTF-8">

		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
		<link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css"/>
		
				

		
		<title>一品肉粽</title>
	</HEAD>
	<BODY>
		<!-- <div id="bigWrapper" ng-controller="MainController as main">
			<header id="mainHeader">
				一品肉粽
			</header>
			<nav id="mainMenu">
				<div class="menuMenuButton" ng-click="main.orderSystemClick()">訂單管理</div>
				<div class="menuMenuButton" ng-click="main.productSystemClick()">商品管理</div>
				<div class="menuMenuButton" ng-click="main.stockSystemClick()">庫存管理</div>
			</nav>
			<section id="mainContent" ng-view></section>
			<footer id="mainFooter">
				Copyright &copy Troy2016
			</footer>
		</div> -->
		    
	<md-content>  
		<md-toolbar layout="row">
	        <div>
	         <md-button class="md-icon-button" aria-label="Settings">
	         	<i class="material-icons">menu</i>
	        </md-button>
	        
	        </div>
	        <div>
	        	 <h2>	
	        
	          <span>一品肉粽</span>
	        </h2>
	        </div>
	       
	    </md-toolbar>

	</md-content>
	<BODY>

	<script src="/bower_components/angular/angular.js"></script>
	<script src="/bower_components/angular-material/angular-material.min.js"></script>
	<script src="/bower_components/angular-route/angular-route.js"></script>



	<script src="/app.module.js"></script>

</HTML>
<!--template.html-->