<!DOCTYPE html>
<HTML>
	<HEAD>
		<meta charset="UTF-8">

		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
		<link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css"/>
		
				

		
		<title>一品肉粽</title>
	</HEAD>
	<BODY>
		<!-- <div id="bigWrapper" ng-controller="MainController as main">
			<header id="mainHeader">
				一品肉粽
			</header>
			<nav id="mainMenu">
				<div class="menuMenuButton" ng-click="main.orderSystemClick()">訂單管理</div>
				<div class="menuMenuButton" ng-click="main.productSystemClick()">商品管理</div>
				<div class="menuMenuButton" ng-click="main.stockSystemClick()">庫存管理</div>
			</nav>
			<section id="mainContent" ng-view></section>
			<footer id="mainFooter">
				Copyright &copy Troy2016
			</footer>
		</div> -->
		    
	<md-content>  
		<md-toolbar layout="row">
	      <div class="md-toolbar-tools">
	        <md-button  aria-label="Settings">
	          <i class="material-icons">menu</i>
	        </md-button>
            <span>YiPingWeb</span>
      		<!-- fill up the space between left and right area -->
	        <span flex></span>
	        <md-button>
	          Logout
	        </md-button>
    	  </div>
	     </md-toolbar>
	</md-content>
	<md-content>
		<md-sidenav class="md-sidenav-left" md-component-id="left" md-is-open="true">
	      <md-content layout="column">
	        <a>a</a>
	        <a>b</a>
	        <a>c</a>
	        <a>d</a>
	      </md-content>

	    </md-sidenav>
	</md-content>

	<BODY>

	<script src="/bower_components/angular/angular.js"></script>
	<script src="/bower_components/angular-aria/angular-aria.min.js"></script>
	<script src="/bower_components/angular-animate/angular-animate.min.js"></script>
	<script src="/bower_components/angular-material/angular-material.min.js"></script>
	<script src="/bower_components/angular-route/angular-route.js"></script>



	<script src="/app.module.js"></script>

</HTML>
<!--template.html-->